<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="SoapRouting" />
    <binding name="SoapRouting1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8734/Design_Time_Addresses/Routing/soap"
    binding="basicHttpBinding" contract="ServiceReferenceRouting.IRouting"
    name="SoapRouting" />
   <endpoint address="http://localhost:8734/Design_Time_Addresses/Routing/soap"
    binding="basicHttpBinding" bindingConfiguration="SoapRouting1"
    contract="ServiceReferenceRouting.IRouting" name="SoapRouting1" />
  </client>
	</system.serviceModel>
</configuration>