<?xml version="1.0" encoding="utf-8" ?>
<!--
<configuration>
	<system.serviceModel>
		<services>
			<service name="MathsOperations.MathsOperations">
				<endpoint address="http://localhost:8733/Design_Time_Addresses/MathsOperations/MathsOperations" binding="webHttpBinding" contract="MathsOperations.IMathsOperations"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>-->
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MathsOperations.MathsOperations">
        <endpoint 
			name="SoapEnd1"
			address="http://localhost:8733/Design_Time_Addresses/MathsOperations/Service1/" 
			binding="basicHttpBinding" 
			contract="MathsOperations.IMathsOperations">
		</endpoint>
		<endpoint 
			name="SoapEnd2"
			address="http://localhost:8734/Design_Time_Addresses/MathsOperations/Service1/"
			binding="basicHttpBinding"
			contract="MathsOperations.IMathsOperations">
        </endpoint>
        <endpoint name="MexEndPnt" address="http://localhost:8735/Design_Time_Addresses/MathsOperations/Service1/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MathsOperations/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
